<h3>Create a New Work Order</h3>
<form method="POST" action="{{ url_for('create_work_order') }}">
    <div class="dropdown mb-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Client
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#"></a>
          <a class="dropdown-item" href="#"></a>
          <a class="dropdown-item" href="#"></a>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Contractor
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#"></a>
          <a class="dropdown-item" href="#"></a>
          <a class="dropdown-item" href="#"></a>
        </div>
    </div>
    <div class="mb-3">
    <label for="title" class="form-label">Brief Description</label>
    <input type="text" class="form-control" name="title" id="title" required>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Works Required</label>
    <textarea class="form-control" name="description" id="description" rows="3" required></textarea>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Owner's Address</label>
    <textarea class="form-control" name="description" id="description" rows="3" required></textarea>
  </div>
  <div class="mb-3">
    <label for="title" class="form-label">Contact Number</label>
    <input type="text" class="form-control" name="title" id="title" required>
  </div>
  <div class="mb-3">
    <label for="created_by" class="form-label">Created By</label>
    <input type="text" class="form-control" name="created_by" id="created_by" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit Work Order</button>
</form>
