{% extends 'base.html' %}
{% block content %}
<h2>All Work Orders</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Client</th>
      <th>Status</th>
      <th>Contractor</th>
      <th>Created By</th>
      <th>Created At</th>
      <th>Occupant</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
      <tr>
        <td><a href="{{ url_for('routes.work_order_detail', order_id=order.id) }}">{{ order.title }}</a></td>
        <td>{{ order.description }}</td>
        <td>
          <a href="{{ url_for('routes.client_detail', client_id=order.client.id) }}">
            {{ order.client.name }}
          </a>
        </td>
        <td>{{ order.status }}</td>
        <td>
          {% if order.contractor %}
            <a href="{{ url_for('routes.contractor_detail', contractor_id=order.contractor.id) }}">
              {{ order.contractor.email }}
            </a>
          {% else %}
            <em>Unassigned</em>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}